.App {
  text-align: center;
  color: white;
  background-color: black;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow-y: scroll;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

